<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over" [opened]="mobileQueryMax.matches ? false : true">
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header [medie_query]="mobileQueryMax.matches" (toggle)="sidenav.toggle()"></app-header>
        <div class="content-wrapper">
            <app-progress [mode]="'indeterminate'"> </app-progress>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>